<%- include('../partials/head') %>

<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Community <em>Plans</em></h2>
                    <img src="/assets/line-dec.png" alt="">
                    <% if (!isLogged) { %>
                        <p>Join our community to browse all of our users workout plans.</p>                     
                        <% } else { %>
                        <p>Welcome back, see what your community is up to!</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
  <div class="card-container">
      <% currentUser.forEach(user => { %>
          <% if(!user.workouts.length) return %>
          <section>

            <div class="user-info">
                <div class="user-avatar">
                    <img src="/assets/features-first-icon.png" alt="User Avatar" class="avatar-image">
                </div>
                <h4 class="username">
                    <% if (isLogged) { %>
                        <a href="/community/<%= user._id %>/view"><%= user.username %></a>
                    <% } else { %>
                        <%= user.username %>
                    <% } %>
                </h4>
            </div>

                  <div class="user-workouts">
                      <% let shuffledWorkouts = user.workouts.sort(() => Math.random() - 0.5);
                          let numRandomWorkouts = 3;
                          let randomWorkouts = shuffledWorkouts.slice(0, numRandomWorkouts);                    
                          randomWorkouts.forEach(workout => { %>
                          <div class="card">
                              <div class="card-body">
                                  <h5 class="card-title"><%= workout.name %></h5>
                                  <h6 class="card-subtitle mb-4 text-muted"><%= workout.difficultyLevel %></h6>
                                  <p class="card-text mt-1" ><span style="color: #333333;">Workout duration: </span><%= workout.duration %> weeks</p>
                                  <p class="card-text mt-1"><span style="color: #333333;">Days per week: </span><%= workout.daysPerWeek %> days</p>
                                  <p class="card-text mt-1"><span style="color: #333333;">Time per workout: </span><%= workout.timePerWorkout %> minutes</p>
                                  <p class="card-text mt-1"><span style="color: #333333;">Equipment required: </span><%= workout.equipmentRequired %></p>
                                  <p class="card-text mt-1"><span style="color: #333333;">Description: </span><%- workout.description ? workout.description.replace(/\r\n|\r|\n/g, '<br>') : '' %></p>
                              </div>
                          </div>
                      <% }) %>
                  </div>

          </section>
      <% }) %>
  </div>
</div>

<%- include('../partials/footer') %>