<%- include('../partials/head') %>

<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2><%= currentUser.username %>'s <em>Plans</em></h2>
                    <img src="/assets/line-dec.png" alt="">
                    <p>Total workout list</p>                     
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
  <div class="card-container">
      <% workout.forEach(element => { %>
          <section>
            <div class="user-workouts">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= element.name %></h5>
                        <h6 class="card-subtitle mb-4 text-muted"><%= element.difficultyLevel %></h6>
                        <p class="card-text mt-1" ><span style="color: #333333;">Workout duration: </span><%= workout.duration %> weeks</p>
                        <p class="card-text mt-1"><span style="color: #333333;">Days per week: </span><%= element.daysPerWeek %></p>
                        <p class="card-text mt-1"><span style="color: #333333;">Time per workout: </span><%= element.timePerWorkout %></p>
                        <p class="card-text mt-1"><span style="color: #333333;">Equipment required: </span><%= element.equipmentRequired %></p>
                        <p class="card-text mt-1"><span style="color: #333333;">Description: </span><%- element.description ? element.description.replace(/\r\n|\r|\n/g, '<br>') : '' %></p>
                    </div>
                </div>
            </div>

          </section>
      <% }) %>
  </div>
</div>

<%- include('../partials/footer') %>